################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/Library/BAL/obj
/.vs
/Library/Dal/obj
/Library/PAlWebAppLibrary/obj/Debug/net5.0
/Library/PAlWebAppLibrary/obj/Release/net5.0
